  <app-header></app-header>
  <div class="psychiatry">
    <button mat-raised-button>
      <img height="100px"  src="../assets/psychiatry.png">
    </button>
  </div>
  <div class="statistics">
    <button mat-raised-button>
      <img  height="100px"  src="../assets/statistics.png">
    </button>
  </div>
  <div class="chatbot">
    <button mat-raised-button>
      <img height="100px"  src="../assets/robot.png">
    </button>
  </div>
  <div class="videoconference">
    <button mat-raised-button>
      <img height="100px"  src="../assets/videoconference.png">
    </button>
  </div>
  <div class="treebranch">
    <img height="500px"  width="500px" src="../assets/treebranch.png">
  </div>
  <div class="aboutus">
    <button mat-button><img height="100px" src="../assets/aboutus.jpg"></button>
 </div>
  <div class="contactus">
    <button mat-button><img height="100px" src="../assets/contactus.png"></button>
 </div>
 <div class="help">
  <button mat-button><img height="100px" src="../assets/help.png"></button>
</div>
<div class="greenline">
  <img height="500px" src="../assets/straightline.png">
</div>
<div class="disorders">
  <button mat-raised-button routerLink="/disorders"> 
     <img height="100px" src="../assets/disorders.png">
  </button>
</div>
<div >
  <mat-card class = "tp-card">
    <img mat-card-image src = "../assets/selfcare.jpg">
    <mat-card-content>
       <h1>SELFCARE TIPS</h1>
    </mat-card-content>
 </mat-card>
 <mat-card class = "tp-card1">
  <img mat-card-image src = "../assets/anxietyreliefgames.jpg">
  <mat-card-content>
     <h1 >MIND PALACE</h1>
  </mat-card-content>
</mat-card>
<mat-card class = "tp-card2">
  <img mat-card-image src = "../assets/liverss.jpg">
  <mat-card-content>
     <h1>LIVE RSS - ARTICLES</h1>
  </mat-card-content>
</mat-card>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>