<html>

<head>

</head>
<mat-toolbar class="dashboardhead">
  <div class="profile_content_middle_headtag">
    <p>TOP 10 PSYCHIATRISTS & COUNSELLORS</p>
  </div>
</mat-toolbar>

<body>
      <div class="card card-flip cardlay" *ngFor="let i of list">
        <div class="card-front counsellor">
            <div class="card-body ">
                <h3 class="card-title">Dr. {{ i.name }}</h3>
                <img class="headerimage" src="{{ i.profilepic }}"  alt="Photo">
                <p class="card-text">OCCUPATION - {{ i.occupation }}</p>
            </div>
        </div>
        <div class="card-back counsellor1">
            <div class="card-body">
              <span class="card-text">Years of Experience - {{ i.experience }}</span><br>
              <span class="card-text">Rank Acquired - {{ i.ranking }}</span><br>
              <span class="card-text">Contact - {{ i.contact }}</span><br>
              <span class="card-text">Address - {{ i.address }}</span><br>
                <a href="#" class="btn btn-outline-secondary btnn">RATE</a>
            </div>
        </div>
    </div>
</body>

</html>