<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<mat-toolbar class="dashboardhead">

  <div class="logocontent">
    <img src="../assets/carelogo.png">
  </div>
  <div class="headercontent">
    <span class="subcontent1">SELF CARE TIPS FOR EVERYONE</span>
    <p class="subcontent2">Your Health Is Out Priority</p>
  </div>
</mat-toolbar>
<mat-tab-group mat-align-tabs="end" [backgroundColor]="bgcolor" [color]="color" [disableRipple]=true>
  <mat-tab label="Self Care Tips">
    <div class="content">
      <mat-card class="carddata"> Start with yourself. Take better care of yourself.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Listen to you body, Follow what they want. Groom yourself. Listen to your senses.
      </mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Take a deep breath. Heavy, deep breathing. Meditate.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Look at yourself differently in a loving way. Self love</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Pay attention to how you talk to yourself. Stay positive.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Stay mindful wherever you are. Start finding happiness in little things.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Work out. Feel better about yourself.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Take personal timeouts for yourself.</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Make yourself busy, indulge in activities, meet new people</mat-card>
    </div>
    <div class="content">
      <mat-card class="carddata"> Get enough sleep, no less, no more. Perfect 7 hours of sleep.</mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Depression Treatment">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
        <li data-target="#carousel-example" data-slide-to="3"></li>
        <li data-target="#carousel-example" data-slide-to="4"></li>
        <li data-target="#carousel-example" data-slide-to="5"></li>
        <li data-target="#carousel-example" data-slide-to="6"></li>
        <li data-target="#carousel-example" data-slide-to="7"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="a.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/b.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/c.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/d.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/e.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/f.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
        <div class="item">
          <mat-card class="treatementcontent">
            <div class="imagecontent">
              <img src="../assets/g.jpg" width="100%" height="100%" />
            </div>
          </mat-card>
          <div class="carousel-caption">
            <h3>Meow</h3>
            <p>Just Kitten Around</p>
          </div>
        </div>
      </div>

      <a class="left carousel-control" id=left href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" id=right style="background:none !important" href="#carousel-example"
        data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>

</html>